.heading {
    display: flex;
    padding: 20px;
}

.heading_name, 
.heading_cost, .heading_date {
    flex: 4;
    color: var(--primary-color);
    font-weight: 500;

    display: flex;
    justify-content: left;
    text-align: left;

    text-decoration: underline;

    transition: all 0.3s;
}

.heading button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.heading_name:hover, 
.heading_cost:hover, .heading_date:hover {
    transform: translate3d(0px, -1px, 0px);
}

.row {
    display: flex;
    padding: 20px;
    
    text-align: left;

    background-color: var(--background-color-light);
    border-radius: 8px;
    margin-bottom: 16px;

    box-shadow: var(--box-shadow);
    font-weight: 500;
}

.flex4 {
    flex: 4;
}

.points {
    margin: 20px 0px;
}

.buttonPoints{
    border-radius: 30px;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
    margin: 0px 5px;
    color: var(--primary-color);
    background-color: #fff;
    border: solid 1px var(--primary-color);
    width: 25%;
}

.buttonPoints:hover {
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
    cursor: pointer;
}

.spinner {
    margin-left: 10px;
    width: 20px !important;
    height: 20px !important;
}

.addPointsContainer {
    width: 100%;
    padding: 20px 20px;
    margin: 20px 0px 40px 0px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-color: var(--background-color-light);
}

.description {
    color: var(--text-color-secondary);
    margin: 10px 0px 20px 0px;
}

.containerPointsButtons {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-light);
}