.heading {
    display: flex;
    padding: 20px;
}

.heading_name, 
.heading_cost, .heading_date {
    flex: 4;
    color: var(--text-color-secondary);
    font-weight: 500;

    display: flex;
    justify-content:center;
    text-align: center;
}

.heading button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.heading button:hover {
    background-color: var(--background-color-light);
    border-radius: 3px;
}

.heading_name {
    justify-content: center;
}

.row {
    display: flex;
    padding: 20px;
    
    text-align: center;

    background-color: var(--background-color-light);
    border-radius: 8px;
    margin-bottom: 16px;

    box-shadow: var(--box-shadow);
    font-weight: 500;

    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}


.flex4 {
    flex: 4;
}



.points {
    margin: 20px 0px;
}

.buttonPoints{
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
    margin: 0px 5px;
    color: var(--primary-color);
    background-color: #fff;
}

.buttonPoints:hover {
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
    cursor: pointer;
}

.spinner {
    margin-left: 10px;
    width: 20px !important;
    height: 20px !important;
}